# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.pytest_cache/
.coverage*
htmlcov/

# Envs
.venv/
venv/
env/
*.env
*.env.*

# Build artifacts
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log